@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rate Me Daddy</h1>
    <p class="lead">Who wants to rate restaurants, US! When do we want to rate Restaurants, IN THE NEAR FUTURE!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Start new Rating &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
           Go ahead make a account get started, I dare you.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">First time huh?&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rate More Restaurants</h2>
        <p>There are many local and even large chain restaurants out there, and they all need a rating, that is why we knew here at retaurant rater knew you were the man for the job.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Act like you've been here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in Touch</h2>
        <p>If you have any questions our help staff is available 24/7.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">You ask too many Questions &raquo;</a></p>
    </div>
</div>